.r {
  display: inline-block;
  border: 1px solid gray;
  font-size: 90px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  box-sizing: border-box;
  vertical-align: middle;
}

.c {
  font-size: 0px;
  min-width: 308px;
}
